body {

    font-family: sans-serif;
    display: flex;
    background: whitesmoke;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 80%;
}

form {

    background: white;
    border: solid red 5px;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    height: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 2);
}

label{

    font-weight: bold;
    align-content: center;

}

button {

    background: black;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.botones {
    justify-content: center;
    display: flex ;
    gap: 15px;
}
input, textarea{

    width: 95%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.error {
    font-weight: bold;
    color: red;
    font-size: 10px;
    padding: 5px;
    
}

.exito {

    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    border: 3px solid greenyellow;
    border-radius: 8px;
    padding: 15px 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    display: none;
    z-index: 1000;
    
}

